#tt-body-page {
  .another_category {
    @apply w-full border-0 m-0 p-0 relative box-border;

    h4 {
      @apply w-full min-w-0 flex overflow-hidden whitespace-nowrap font-normal items-center text-light-color-3/50;
      border-bottom: 0 !important;

      &,
      * {
        // @apply text-light-color-3/50;
        color: color-mix(in hsl, var(--tds-light-color-3) 50%, transparent) !important;
      }

      &::before,
      &::after {
        content: "";
        @apply w-full flex h-[1px] bg-light-color-3/10 flex-1 flex-grow flex-shrink;
      }

      &::before {
        @apply mr-1;
      }

      &::after {
        @apply ml-1;
      }

      a {
        // @apply font-normal;
        font-weight: 400 !important;
      }
    }

    table {
      @apply w-full block relative border-none;

      tbody {
        @apply w-full flex flex-wrap gap-2 relative;

        tr {
          @apply w-full flex flex-wrap gap-1 relative box-border rounded-lg bg-transparent p-3 cursor-pointer transition-all duration-300;

          &:hover {
            @apply -translate-y-0.5 shadow-murky-color-1 shadow-[0px_2px_12px];
          }

          th {
            @apply w-full flex justify-start items-center m-0;
            padding: 0 !important;
          }

          td {
            @apply w-full flex justify-start items-center m-0 border-none;
            padding: 0 !important;
          }
        }
      }
    }
  }

  .container_postbtn {
    .btn_post {
      @apply p-0 px-2 py-0 flex items-center bg-murky-color-1 rounded-md text-light-color-3/80 cursor-pointer hover:bg-murky-color-2;

      .ico_like {
        margin: 0;
      }
    }

    .postbtn_like {
      float: none;
      border: 0;
      @apply flex gap-2 relative;

      .wrap_btn {
        float: none;

        .uoc-icon {
          @apply flex items-center gap-1;
        }
      }
    }
  }

  [data-tistory-react-app="Namecard"] + div {
    @apply w-full block relative;
  }

  blockquote[data-ke-style="style1"] {
    @apply text-light-color-3/80;
  }

  blockquote[data-ke-style="style2"] {
    @apply flex min-w-0 items-stretch;

    &::before {
      content: "";
      @apply inline-flex w-[4px] bg-light-color-3/80 mr-4 flex-grow-0 flex-shrink-0;
    }
  }

  blockquote[data-ke-style="style3"] {
    @apply flex min-w-0 items-stretch bg-transparent relative border-0 text-light-color-3/80;

    &::before {
      content: "";
      @apply w-full h-[4px] bg-light-color-3/80 absolute top-0 left-0;
    }

    &::after {
      content: "";
      @apply w-full h-[4px] bg-light-color-3/80 absolute bottom-0 left-0;
    }

    // &::before {
    //   content: "";
    //   @apply w-[16px] h-[16px] border-t-4 border-t-light-color-3/80 border-l-4 border-l-light-color-3/80 absolute top-0 left-0;
    // }

    // &::after {
    //   content: "";
    //   @apply w-[16px] h-[16px] border-b-4 border-b-light-color-3/80 border-r-4 border-r-light-color-3/80 absolute bottom-0 right-0;
    // }
  }
}

#article-description {
  > div {
    *[style*="background-color: #ffffff;"] {
      // @apply bg-transparent;
      background-color: transparent !important;
    }

    // 제목
    h1 {
      @apply text-5xl mt-6 mb-4;
    }
    h2 {
      @apply text-4xl mt-6 mb-4;
    }
    h3 {
      @apply text-3xl mt-6 mb-4;
    }
    h4 {
      @apply text-2xl mt-6 mb-4;
    }
    h5 {
      @apply text-xl mt-6 mb-4;
    }
    h6 {
      @apply text-lg mt-6 mb-4;
    }

    // 코드블럭
    li code {
      @apply bg-murky-color-1 p-1 box-border rounded-md text-light-color-3/50 relative opacity-100;
    }

    pre code {
      @apply bg-murky-color-1 p-5 box-border rounded-lg text-light-color-3/50 mt-1 mb-3 relative opacity-100 block;
      // visibility: visible;
    }

    // 테이블
    table {
      width: 100%;
      @apply border-light-color-3/50 border-t border-l;

      thead {
        tr {
          th {
            @apply border-light-color-3/50 border-r border-b px-2 py-1;
          }
        }
      }

      tbody {
        tr {
          td {
            @apply border-light-color-3/50 border-r border-b px-2 py-0.5;
          }
        }
      }

      &[data-ke-style="style1"],
      &[data-ke-style="style2"],
      &[data-ke-style="style3"] {
        thead {
          tr {
            th {
              @apply border-b-2;
            }
          }
        }

        tbody {
          tr {
            td {
            }
          }
        }
      }

      &[data-ke-style="style4"],
      &[data-ke-style="style5"],
      &[data-ke-style="style6"],
      &[data-ke-style="style7"] {
        tbody {
          tr {
            &:nth-child(2n) {
              td {
                @apply bg-light-color-3/5;
              }
            }
          }
        }
      }

      &[data-ke-style="style8"],
      &[data-ke-style="style9"],
      &[data-ke-style="style10"],
      &[data-ke-style="style11"] {
        @apply border-l-0;

        thead {
          tr {
            th {
              @apply border-r-0 border-b-2;
            }
          }
        }

        tbody {
          tr {
            td {
              @apply border-r-0;
            }
          }
        }
      }

      &[data-ke-style="style12"],
      &[data-ke-style="style13"],
      &[data-ke-style="style14"],
      &[data-ke-style="style15"] {
        thead {
          tr {
            th {
              @apply bg-murky-color-1;
            }
          }
        }

        tbody {
          tr {
            &:first-child {
              td {
                color: inherit;
              }
            }

            td {
              @apply bg-transparent;

              &:first-child {
                @apply bg-light-color-3/5;
              }
            }
          }
        }
      }

      &[data-ke-style="style16"] {
        @apply border-l-0 border-t-0;

        thead {
          tr {
            th {
              @apply border-r-0 border-b-0;
            }
          }
        }

        tbody {
          tr {
            td {
              @apply border-r-0 border-b-0;
            }
          }
        }
      }
    }

    // 리스트
    ul,
    ol {
      @apply pl-5 my-1;

      li {
      }
    }

    // 인용
    blockquote {
      @apply text-light-color-3/80;
    }
  }
}
