#tt-body-page {
  .another_category {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    margin-left: -16px;
    width: calc(100% + 32px);

    h4 {
      border-bottom: 0 !important;
      width: 100%;
      min-width: 0;
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 400;
      align-items: center;
      color: color-mix(in hsl, var(--color-light-color-3) 50%, transparent);

      &,
      * {
        color: color-mix(in hsl, var(--color-light-color-3) 50%, transparent) !important;
      }

      &::before,
      &::after {
        content: "";
        width: 100%;
        display: flex;
        height: 1px;
        background-color: color-mix(in srgb, var(--color-light-color-3) 10%, transparent);
      }

      &::before {
        margin-right: 4px;
      }

      &::after {
        margin-left: 4px;
      }

      a {
        font-weight: 400 !important;
      }
    }

    table {
      width: 100%;
      display: block;
      position: relative;
      border: none;

      tbody {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        position: relative;

        tr {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          position: relative;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: transparent;
          padding: 12px;
          padding-left: var(--spacing-content-area-padding);
          padding-right: var(--spacing-content-area-padding);
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 2px 12px var(--color-murky-color-1);
          }

          th {
            padding: 0 !important;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0;
          }

          td {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0;
            border: none;
            padding: 0 !important;
          }
        }
      }
    }
  }

  .container_postbtn {
    .btn_post {
      padding: 0 8px;
      display: flex;
      align-items: center;
      background-color: var(--color-murky-color-1);
      border-radius: 8px;
      color: color-mix(in hsl, var(--color-light-color-3) 80%, transparent);
      cursor: pointer;

      &:hover {
        background-color: var(--color-murky-color-2);
      }

      .ico_like {
        margin: 0;
      }
    }

    .postbtn_like {
      float: none;
      border: 0;
      display: flex;
      gap: 8px;
      position: relative;

      [data-tistory-react-app] {
        display: inline-flex;
      }

      .wrap_btn {
        float: none;

        .uoc-icon {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }

  [data-tistory-react-app="Namecard"] + div {
    width: 100%;
    display: block;
    position: relative;
  }

  blockquote[data-ke-style="style1"] {
    color: color-mix(in hsl, var(--color-light-color-3) 80%, transparent);
  }

  blockquote[data-ke-style="style2"] {
    display: flex;
    min-width: 0;
    align-items: stretch;

    &::before {
      content: "";
      display: inline-flex;
      width: 4px;
      background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);
      margin-right: 16px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  blockquote[data-ke-style="style3"] {
    display: flex;
    min-width: 0;
    align-items: stretch;
    background-color: transparent;
    position: relative;
    border: 0;
    color: color-mix(in hsl, var(--color-light-color-3) 80%, transparent);

    &::before {
      content: "";
      width: 100%;
      height: 4px;
      background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  figure {
    color: color-mix(in hsl, var(--color-light-color-3) 80%, transparent);

    &.fileblock {
      &:hover {
        background-color: color-mix(in srgb, var(--color-murky-color-1) 70%, transparent);
      }

      .image {
        background-image: none;
        mask-image: url("./images/file.svg");
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: 24px 24px;
        background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);
      }

      a {
        &::after {
          background-image: none;
          mask-image: url("./images/download.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          mask-size: 24px 24px;
          background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);
        }
      }
    }

    &[data-ke-type="opengraph"] {
      div {
        &.og-text {
          p {
            &.og-title {
              color: color-mix(in hsl, var(--color-light-color-3) 80%, transparent);
            }
          }
        }
      }
    }
  }
}

#article-description {
  > div {
    *[style*="background-color: #ffffff;"] {
      background-color: transparent !important;
    }

    *[style*="background-color: #f8f8f8;"] {
      background-color: transparent !important;
    }

    *[style*="color: #000000;"],
    *[style*="color: #1f2328;"],
    *[style*="color: #333333;"] {
      color: inherit !important;
    }

    *[class*="filename"] {
      color: color-mix(in hsl, var(--tds-light-color-3) 80%, transparent) !important;
    }

    // 제목
    h1 {
      font-size: 48px;
      margin-top: 24px;
      margin-bottom: 16px;
      scroll-margin: 60px;
    }
    h2 {
      font-size: 36px;
      margin-top: 24px;
      margin-bottom: 16px;
      scroll-margin: 60px;
    }
    h3 {
      font-size: 30px;
      margin-top: 24px;
      margin-bottom: 16px;
      scroll-margin: 60px;
    }
    h4 {
      font-size: 24px;
      margin-top: 24px;
      margin-bottom: 16px;
      scroll-margin: 60px;
    }
    h5 {
      font-size: 20px;
      margin-top: 24px;
      margin-bottom: 16px;
      scroll-margin: 60px;
    }
    h6 {
      font-size: 18px;
      margin-top: 24px;
      margin-bottom: 16px;
      scroll-margin: 60px;
    }

    // 코드블럭
    li code {
      background-color: var(--color-murky-color-1);
      padding: 4px;
      box-sizing: border-box;
      border-radius: 6px;
      color: color-mix(in hsl, var(--color-light-color-3) 50%, transparent);
      position: relative;
      opacity: 100%;
    }

    pre {
      code {
        background-color: var(--color-murky-color-1);
        padding: 20px;
        box-sizing: border-box;
        border-radius: 8px;
        color: color-mix(in hsl, var(--color-light-color-3) 50%, transparent);
        margin-top: 4px;
        margin-bottom: 12px;
        position: relative;
        opacity: 100%;
        display: block;
      }

      &:has(code) {
        display: block;
        position: relative;

        &::after {
          content: "";
          mask-image: url("./images/copy.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          mask-size: 24px 24px;
          width: 24px;
          height: 24px;
          display: inline-flex;
          background-color: color-mix(in srgb, var(--color-light-color-3) 50%, transparent);
          cursor: pointer;
          position: absolute;
          top: 16px;
          right: 16px;
        }

        &.my-active {
          &::after {
            background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);
          }
        }

        &.my-checked {
          &::after {
            mask-image: url("./images/copy-check.svg");
          }
        }
      }
    }

    // 테이블
    table {
      width: 100%;
      border-color: color-mix(in srgb, var(--color-light-color-3) 50%, transparent);
      border-top: 1px solid;
      border-left: 1px solid;

      thead {
        tr {
          th {
            border-color: color-mix(in srgb, var(--color-light-color-3) 50%, transparent);
            border-right: 1px solid;
            border-bottom: 1px solid;
            padding: 4px 8px;
          }
        }
      }

      tbody {
        tr {
          td {
            border-color: color-mix(in srgb, var(--color-light-color-3) 50%, transparent);
            border-right: 1px solid;
            border-bottom: 1px solid;
            padding: 2px 8px;
          }
        }
      }

      &[data-ke-style="style1"],
      &[data-ke-style="style2"],
      &[data-ke-style="style3"] {
        thead {
          tr {
            th {
              border-bottom: 2px solid;
            }
          }
        }

        // tbody {
        //   tr {
        //     td {
        //     }
        //   }
        // }
      }

      &[data-ke-style="style4"],
      &[data-ke-style="style5"],
      &[data-ke-style="style6"],
      &[data-ke-style="style7"] {
        tbody {
          tr {
            &:nth-child(2n) {
              td {
                background-color: color-mix(in srgb, var(--color-light-color-3) 5%, transparent);
              }
            }
          }
        }
      }

      &[data-ke-style="style8"],
      &[data-ke-style="style9"],
      &[data-ke-style="style10"],
      &[data-ke-style="style11"] {
        border-left-width: 0;

        thead {
          tr {
            th {
              border-right-width: 0;
              border-bottom: 2px solid;
            }
          }
        }

        tbody {
          tr {
            td {
              border-right-width: 0;
            }
          }
        }
      }

      &[data-ke-style="style12"],
      &[data-ke-style="style13"],
      &[data-ke-style="style14"],
      &[data-ke-style="style15"] {
        thead {
          tr {
            th {
              background-color: var(--color-murky-color-1);
            }
          }
        }

        tbody {
          tr {
            &:first-child {
              td {
                color: inherit;
              }
            }

            td {
              background-color: transparent;

              &:first-child {
                background-color: color-mix(in srgb, var(--color-light-color-3) 5%, transparent);
              }
            }
          }
        }
      }

      &[data-ke-style="style16"] {
        border-left-width: 0;
        border-top-width: 0;

        thead {
          tr {
            th {
              border-right-width: 0;
              border-bottom-width: 0;
            }
          }
        }

        tbody {
          tr {
            td {
              border-right-width: 0;
              border-bottom-width: 0;
            }
          }
        }
      }
    }

    // 리스트
    ul,
    ol {
      padding-left: 20px;
      margin-top: 4px;
      margin-bottom: 4px;

      // li {
      // }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    // 인용
    blockquote {
      color: color-mix(in hsl, var(--color-light-color-3) 80%, transparent);
    }

    // 링크
    a[href] {
      color: color-mix(in hsl, var(--color-light-color-4) 70%, transparent);

      &:hover {
        color: color-mix(in hsl, var(--color-light-color-4) 100%, transparent);
      }
    }

    figure {
      margin-top: 4px;
      margin-bottom: 16px;
    }
  }
}
