[data-title="pagination-page-num-list"] {
  > a {
    font-size: 0;

    > span {
      font-size: 14px;
      display: inline-flex;
      padding: 6px 8px;
      color: color-mix(in srgb, var(--color-light-color-3) 60%, transparent);
      border-radius: 8px;

      &:hover {
        background-color: var(--color-murky-color-1);
      }

      &.selected {
        background-color: var(--color-murky-color-1);
      }
    }
  }
}
