ul.tt_category {
  width: 100%;
  display: block;
  position: relative;

  img[alt="N"] {
    padding: 0 !important;
    width: 12px !important;
    height: 12px !important;
    @apply flex-shrink-0 flex-grow-0;
  }

  > li {
    width: 100%;
    display: block;
    position: relative;

    a.link_tit {
      @apply text-base font-medium w-full flex flex-wrap px-3 py-2 box-border items-center rounded-md gap-2 relative mx-2 mb-8;
      width: calc(100% - (8px * 2));

      &::before {
        content: "";
        mask-image: url("./images/text-search.svg");
        mask-repeat: no-repeat;
        mask-position: center center;
        @apply inline-block w-[20px] h-[20px] bg-light-color-2;
      }

      &.active,
      &:hover {
        @apply bg-white/5 text-white/90;

        &::before {
          @apply bg-white/90;
        }
      }

      &::after {
        content: "";
        @apply w-full h-[1px] bg-white/10 block absolute bottom-[-12px] left-0;
      }
    }

    ul.category_list {
      @apply w-full flex flex-wrap relative gap-0.5;

      > li {
        @apply w-full flex flex-wrap relative gap-0;

        &:has(.sub_category_list) {
          @apply mb-1.5;
        }

        a.link_item {
          width: calc(100% - (8px * 2));
          margin: 0 8px;
          @apply relative font-medium flex box-border gap-2 px-3 py-1;

          &::before {
            content: "--";
            @apply -mr-1 inline-flex items-start flex-grow-0 flex-shrink-0;
          }

          &.active,
          &:hover {
            @apply text-white/90;
          }

          .c_cnt {
            @apply inline-flex flex-grow-0 flex-shrink-0;
          }

          > img[alt="N"] {
            margin-top: 4px;
          }
        }

        ul.sub_category_list {
          @apply w-full relative;

          > li {
            @apply w-full flex flex-wrap relative gap-2;

            a.link_sub_item {
              width: calc(100% - (8px * 2));
              margin: 0 8px;
              @apply relative flex box-border gap-2 px-3 py-1 rounded-md font-medium items-start;

              &::before {
                content: "#";
                @apply text-xl inline-flex items-start content-center flex-shrink-0 flex-grow-0 leading-5;
              }

              &.active,
              &:hover {
                @apply bg-white/5 text-white/90;

                // &::before {
                //   @apply bg-white/90;
                // }
              }

              .c_cnt {
                @apply inline-flex flex-shrink-0 flex-grow-0;
              }
            }
          }
        }
      }
    }
  }
}

#chartdiv {
  #chartctx {
    width: 100% !important;
  }
}

#aside-side-bar {
  .adsbygoogle {
    width: 220px;
  }

  height: 100vh !important;
}
