li[data-title="posts-index-item-s-ad-div"] {
  &[data-status="공개"] {
    [data-title="posts-index-item-s-ad-div-icon"] {
      content: "";
      mask-image: url("./images/eye.svg");
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);

      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &[data-status="비공개"] {
    [data-title="posts-index-item-s-ad-div-icon"] {
      content: "";
      mask-image: url("./images/eye-off.svg");
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);

      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &[data-status="보호"] {
    [data-title="posts-index-item-s-ad-div-icon"] {
      content: "";
      mask-image: url("./images/lock-keyhole.svg");
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: color-mix(in srgb, var(--color-light-color-3) 80%, transparent);

      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

[data-title="article-list"] {
  &:not(.list_display_type_grid) {
    ul[data-title="article-extra-info-list"] {
      > li:not(:first-child) {
        &:before {
          content: "";
          display: none;
          width: 2px;
          height: 2px;
          background-color: color-mix(in srgb, var(--color-light-color-3) 20%, transparent);
          border-radius: 24px;
          position: absolute;
          left: -12px;
          @media (min-width: 1024px) {
            display: inline-flex;
          }
        }
      }
    }
  }
}
