@charset 'UTF-8';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // side-bar 관련된 css variables
    --tds-side-bar-inner-small-bar-width: 72px;
    --tds-side-bar-inner-big-bar-width: 240px;
    --tds-side-bar-width: calc(var(--tds-side-bar-inner-small-bar-width) + var(--tds-side-bar-inner-big-bar-width));
    --tds-top-bar-width: calc(100% - var(--tds-side-bar-width));
    --tds-top-bar-height: 48px;
    --tds-content-area-padding: 16px;
  }

  :root {
    --tds-murky-color-1: 225 6% 12%;
    --tds-murky-color-2: 220 7% 18%; //223 7% 20%;
    --tds-murky-color-3: 223 8% 17%; // 220 7% 17%;
    --tds-murky-color-4: 141 59% 38%;
    --tds-murky-color-5: 225 7% 22%;
    --tds-murky-color-6: 0 0% 0%;

    --tds-light-color-1: 237 81% 63%;
    --tds-light-color-2: 216 7% 56%;
    --tds-light-color-3: 0 0% 100%;
    --tds-light-color-4: 146 62% 48%;
    --tds-light-color-5: 48 87% 50%;
    --tds-light-color-6: 235 86% 89%;
    --tds-light-color-7: 236 53% 60%;

    --tds-tistory-color: 3 96% 63%;
  }
}

.article-rep-summary br {
  display: none;
}

[data-tistory-react-app] {
  @apply hidden;
}
