@charset 'UTF-8';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // side-bar 관련된 css variables
    --tds-side-bar-inner-small-bar-width: 72px;
    --tds-side-bar-inner-big-bar-width: 240px;
    --tds-side-bar-width: calc(var(--tds-side-bar-inner-small-bar-width) + var(--tds-side-bar-inner-big-bar-width));
    --tds-top-bar-width: calc(100% - var(--tds-side-bar-width));
    --tds-top-bar-height: 48px;
    --tds-content-area-padding: 16px;
    --tds-content-area-inner-padding: calc(var(--tds-content-area-padding) + 12px);
    --tds-comment-input-form-width-with-sidebar: calc(100% - var(--tds-side-bar-width) - (var(--tds-content-area-padding) * 2));
    --tds-comment-input-form-width: calc(100% - (var(--tds-content-area-padding) * 2));
    --tds-comment-input-form-left-with-sidebar: calc(var(--tds-side-bar-width) + var(--tds-content-area-padding));
    --tds-comment-input-form-left: var(--tds-content-area-padding);
  }

  :root {
    --tds-murky-color-1: rgb(29, 30, 32);
    --tds-murky-color-2: rgb(43, 45, 49);
    --tds-murky-color-3: rgb(40, 42, 47);
    --tds-murky-color-4: rgb(40, 154, 80);
    --tds-murky-color-5: rgb(52, 54, 60);
    --tds-murky-color-6: rgb(0, 0, 0);
    --tds-murky-color-7: rgb(49, 51, 56);

    --tds-light-color-1: rgb(84, 92, 237);
    --tds-light-color-2: rgb(135, 141, 151);
    --tds-light-color-3: rgb(255, 255, 255);
    --tds-light-color-4: rgb(47, 198, 112);
    --tds-light-color-5: rgb(238, 194, 17);
    --tds-light-color-6: rgb(203, 207, 251);
    --tds-light-color-7: rgb(99, 106, 207);

    --tds-tistory-color: rgb(251, 79, 70);
  }
}

.article-rep-summary br {
  display: none;
}

[data-tistory-react-app] {
  @apply hidden;
}

#tag-list {
  font-size: 0;
  @apply w-full flex flex-wrap gap-1 relative box-border px-content-area-padding;

  a {
    @apply inline-flex items-center relative px-2 py-1 text-xs bg-murky-color-1 rounded-md text-light-color-3/60 whitespace-nowrap min-w-0 overflow-hidden overflow-ellipsis;

    &::before {
      content: "#";
      @apply inline-flex flex-shrink-0 flex-grow-0;
    }
  }
}
